.app-header {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 10vh;
    width: 100vw;
    background-color: black;
    // &__image {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -40%);
    //     min-width: 100%;
    //     min-height: 100%
    //     }
}

