@import 'Variables.scss';

.planet-list {
        display: flex;
        flex-direction: column;
        &__item {
            margin: 3px;
            padding: 20px;
            display: block;
            background-color: $color2;
            border-left: 2px solid $color3;
            color: $color1;
            transition: .2s;

            &:hover {
                background-color: darken($color2, 10%);
                cursor: pointer;
            }
        }
       
    }