@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');

$primary-color: #222;
$secondary-color: rgb(128, 128, 32);
$default-font: arial, sans-serif;
$special-font: 'pt sans', 'roboto', arial, sans-serif;